__pycache__/*
env/*
.venv/*
venv/*
tmp/*
data/*
.idea/*

!tmp/.gitkeep
!data/.gitkeep

# vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets